<form action="/users/create" method="POST">

    <label for="username">Name</label>
    <input type="text" name="username">
    <br>

    <label for="phone">Phone</label>
    <input type="text" name="phone" maxlength="10">
    <br>

    <label for="email">Email</label>
    <input type="text" name="email">
    <br>

    <label for="location">Location</label>
    <input type="text" name="location">
    <br>

    <label for="password">Password</label>
    <input type="password" name="password">
    <br>

    <button>Submit</button>
    
</form>