
<form action="/users/{{user._id}}" method="POST">
    
    <label for="username">Name</label>
    <input type="text" name="username" value="{{user.name}}">
    <br>

    <label for="phone">Phone</label>
    <input type="text" name="phone" value="{{user.phone}}">
    <br>

    <label for="email">Email</label>
    <input type="text" name="email" value="{{user.email}}">
    <br>

    <label for="location">Location</label>
    <input type="text" name="location" value="{{user.location}}">
    <br>

    <button>Update</button> <a href="/users">Cancel</a>
    
</form>

