
{{!-- if login display logout link 
else diplay login link --}}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello!</h1>
        {{#if session}}
            <p>My name is {{session.user.name}}</p>
            <p><a class="btn btn-primary btn-lg" href="/projects" role="button">Learn more &raquo;</a></p>
        {{else}}
            <h1>{{title}}</h1>
            <p>Welcome to my Portfolio. Try Loggin in</p>

            <br>
            <a href="/login">Login</a>
        {{/if}}
        
        
    </div>
</div>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <hr>
</div>