<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each userData}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.location}}</td>
                    <td>
                        <a href="/users/{{this._id}}">Edit</a>
                        <a href="/users/{{this._id}}/delete">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a class="btn btn-primary btn-lg" href="/users/create" role="button">
            Add New User &raquo;
        </a>
    </div>
</div>